@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  background: transparent;
  outline: 0;
}

a:focus {
  outline: 0;
  text-decoration: none;
}

a:hover, a:active {
  outline: 0;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

nav ul,
nav ol {
  padding: 0px;
}

ul, ol {
  padding: 0px;
}

ul li, ol li {
  list-style: none;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

body {
  font-family: 'Raleway', sans-serif;
}

header {
  padding: 35px 0 0 0;
}

@media screen and (max-width: 767px) {
  header .container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 35px 0 20px 0;
  }
}

header .logo-wrapper {
  float: left;
}

header .logo-wrapper .page-logo {
  display: block;
  float: left;
}

@media screen and (max-width: 767px) {
  header .logo-wrapper {
    padding: 0 0 10px 0;
    overflow: auto;
    float: none;
    box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.2);
  }
  header .logo-wrapper .hamburger-icon {
    float: right;
    font-size: 36px;
    margin-right: 5px;
  }
}

header nav {
  float: right;
}

@media screen and (min-width: 768px) {
  header nav {
    margin: 63px 0 0 0;
  }
}

header nav > ul > li {
  float: left;
  list-style: none;
  padding-left: 40px;
  position: relative;
}

header nav > ul > li > a {
  color: #001920;
  font-size: 15px;
  text-transform: uppercase;
}

header nav > ul > li ul {
  position: absolute;
  top: 20px;
  left: 40px;
  display: none;
  padding: 20px 0 0 0;
  z-index: 5;
  width: 265px;
}

header nav > ul > li ul li {
  border-top: 1px solid #5dd6c7;
}

header nav > ul > li ul li:first-child {
  border-top: none;
}

header nav > ul > li ul li:first-child a {
  border-radius: 5px 5px 0 0;
}

header nav > ul > li ul li:last-child a {
  border-radius: 0 0 5px 5px;
}

header nav > ul > li ul li a {
  background: #4FC3B6;
  padding: 10px;
  display: block;
  color: #fff;
  text-transform: capitalize;
}

header nav > ul > li ul li a:visited {
  color: #fff;
}

header nav > ul > li ul li a:hover {
  color: #ff5c72;
}

header nav > ul > li ul li a:active {
  color: #ffb0bb;
}

header nav > ul > li ul li a:hover {
  background: #57d0c1;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header nav > ul > li ul {
    position: absolute;
    top: 20px;
    right: 0px;
    left: auto;
  }
}

header nav > ul > li:hover ul {
  display: block;
}

@media screen and (min-width: 768px) {
  header nav > ul > li.pink-theme > a:hover, header nav > ul > li.pink-theme a.active {
    color: #ff596f;
  }
  header nav > ul > li.pink-theme ul li {
    border-top: 1px solid #fdbdb4;
  }
  header nav > ul > li.pink-theme ul li a {
    background: #ff596f;
    color: #fff;
  }
  header nav > ul > li.pink-theme ul li a:hover, header nav > ul > li.pink-theme ul li a.active {
    background: #ffb0bb;
    color: #f65f7e;
  }
  header nav > ul > li.pink-theme ul li:hover {
    background: #ffb0bb;
  }
  header nav > ul > li.green-theme > a:hover, header nav > ul > li.green-theme a.active {
    color: #57D0C1;
  }
  header nav > ul > li.green-theme ul li {
    border-top: 1px solid #5dd6c7;
  }
  header nav > ul > li.green-theme ul li a {
    background: #4fc3b6;
  }
  header nav > ul > li.green-theme ul li a:hover, header nav > ul > li.green-theme ul li a.active {
    color: #2f9f8f;
    background: #57d0c1;
  }
  header nav > ul > li.green-theme ul li:hover {
    background: #57d0c1;
  }
  header nav > ul > li.grey-theme > a:hover, header nav > ul > li.grey-theme a.active {
    color: #001920;
  }
  header nav > ul > li.grey-theme ul li {
    border-top: 1px solid #dbdbea;
  }
  header nav > ul > li.grey-theme ul li a {
    background: #e2e2ee;
    color: #001920;
  }
  header nav > ul > li.grey-theme ul li a:hover, header nav > ul > li.grey-theme ul li a.active {
    color: #001920;
    background: #CAC9C9;
  }
  header nav > ul > li.grey-theme ul li:hover {
    background: #e2e2ee;
  }
  header nav > ul > li ul li:first-child {
    border-top: none;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    clear: both;
    width: 100%;
  }
  header nav > ul {
    display: none;
    margin: 0px;
  }
  header nav > ul > li {
    float: none;
    padding: 10px 0px;
    border-top: 1px solid #dbdbea;
  }
  header nav > ul > li > a {
    font-weight: bold;
    padding-left: 7px;
  }
  header nav > ul > li:first-child {
    border-top: none;
  }
  header nav > ul > li:hover {
    padding-bottom: 0px;
  }
  header nav > ul > li ul {
    position: static;
    width: 100%;
    padding: 10px 0 0 0;
  }
  header nav > ul > li ul li {
    border-color: #d8d8e7;
  }
  header nav > ul > li ul li a {
    background: #e2e2ee;
    padding: 10px;
    display: block;
    color: #001920;
    border-radius: 0px !important;
    text-transform: capitalize;
  }
  header nav > ul > li ul li a:visited {
    color: #001920;
  }
  header nav > ul > li ul li a:hover {
    color: #fff;
  }
  header nav > ul > li ul li a:active {
    color: #fff;
  }
  header nav > ul > li ul li a:hover {
    color: #001920;
    background: #e2e2ee;
    font-weight: bold;
  }
  header nav input:checked + ul {
    display: block;
  }
}

.visible-touch {
  display: none;
}

.touch .visible-touch {
  display: block;
}

footer.page-footer {
  padding: 35px 0 20px 0;
}

footer.page-footer p {
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  footer.page-footer .info-box {
    min-height: 100px;
    word-wrap: break-word;
  }
  footer.page-footer p {
    white-space: nowrap;
  }
}

footer.page-footer ul li {
  list-style: none;
  line-height: 1.3;
}

footer.page-footer ul li a {
  color: #4783a9;
  font-size: 13px;
}

footer.page-footer ul li a:visited {
  color: #4783a9;
}

footer.page-footer ul li a:hover {
  color: #4783a9;
}

footer.page-footer ul li a:active {
  color: #4783a9;
}

@media screen and (max-width: 768px) {
  footer.page-footer ul li {
    float: right;
    padding: 0 18px 0 0;
  }
}

footer.page-footer button {
  color: #ffffff;
  background: #ff596d;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 25px;
  display: block;
}

@media screen and (max-width: 767px) {
  footer.page-footer button {
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  footer.page-footer {
    padding: 35px 0 80px 0;
  }
}

section.carousel-wrapper .item > img {
  width: 100%;
}

section.carousel-wrapper .item .banner-highlights {
  position: absolute;
  bottom: 20%;
  width: 100%;
}

section.carousel-wrapper .item .banner-highlights .banner-inner {
  max-width: 625px;
  margin: 0 auto;
}

section.carousel-wrapper .item .banner-highlights .banner-inner h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  font-weight: 700;
}

@media (max-width: 767px) {
  section.carousel-wrapper .item .banner-highlights .banner-inner h1 {
    font-size: 1.4em;
  }
}

@media (max-width: 767px) {
  section.carousel-wrapper .item .banner-highlights .banner-inner .link-wrapper {
    padding: 0 15px;
  }
}

section.carousel-wrapper .item .banner-highlights .banner-inner a {
  display: block;
  width: 250px;
  height: 50px;
  display: block;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  background-image: url("images/bgSprite.png");
  background-repeat: no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

section.carousel-wrapper .item .banner-highlights .banner-inner a.pink-menu {
  float: left;
  background-color: #ff596f;
  background-position: 25px 4px;
}

section.carousel-wrapper .item .banner-highlights .banner-inner a.blue-menu {
  float: right;
  background-color: #50C3B2;
  background-position: 9px -74px;
}

@media (max-width: 767px) {
  section.carousel-wrapper .item .banner-highlights .banner-inner a {
    width: 140px;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    background-size: 30%;
  }
  section.carousel-wrapper .item .banner-highlights .banner-inner a.pink-menu {
    background-position: 3px 4px;
  }
  section.carousel-wrapper .item .banner-highlights .banner-inner a.blue-menu {
    background-position: 2px -28px;
  }
}

.inner-wrapper {
  background: #efefef;
  padding-bottom: 100px;
}

.inner-wrapper h1.has-subheading {
  margin-bottom: 0px;
}

.inner-wrapper h1 span {
  font-size: .8em;
  display: block;
}

@media screen and (max-width: 767px) {
  .inner-wrapper h1 {
    font-size: 25px;
  }
}

.inner-wrapper h3 {
  font-size: 1.6em;
  color: #717171;
  margin-top: 0px;
}

.inner-wrapper figure > img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .inner-wrapper figure > img {
    width: 100%;
  }
}

.inner-wrapper figure.innerbanner {
  max-height: 300px;
  overflow: hidden;
}

.inner-wrapper p {
  padding-bottom: 10px;
  color: #717171;
  line-height: 1.7;
}

.inner-wrapper button,
.inner-wrapper .btn-common {
  color: #ffffff;
  background: #ff596d;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 25px;
  padding: 20px 40px;
}

@media screen and (max-width: 767px) {
  .inner-wrapper button,
  .inner-wrapper .btn-common {
    padding: 5px;
  }
}

@media screen and (min-width: 768px) {
  .inner-wrapper {
    min-height: 600px;
  }
}

.inner-wrapper ul li {
  padding: 0 0 5px 40px;
  position: relative;
  color: #717171;
}

.inner-wrapper ul li:after {
  position: absolute;
  top: 7px;
  right: auto;
  bottom: auto;
  left: 0;
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  background: #717171;
}

@media screen and (max-width: 767px) {
  .inner-wrapper ul {
    margin: 20px 0 0 0;
  }
  .inner-wrapper ul li {
    padding: 0 0 5px 20px;
  }
}

.inner-wrapper div.csc-textpic .csc-textpic-imagewrap {
  float: none;
  text-align: center;
}

.inner-wrapper .box {
  margin: 0 0 20px 0;
}

.inner-wrapper .box figure {
  min-height: 200px;
  position: relative;
}

.inner-wrapper .box figure .link-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  min-width: 110px;
  margin-left: -55px;
  text-align: center;
  color: #57D0C1;
  background: #fff;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 25px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .inner-wrapper .box figure .link-btn {
    padding: 5px;
  }
}

.inner-wrapper .box section {
  text-align: center;
}

.inner-wrapper .box section p {
  padding: 0px;
  margin: 10px 0 0px 0;
}

.inner-wrapper article h2 span {
  display: block;
  font-size: .8em;
}

@media screen and (min-width: 768px) {
  .inner-wrapper article {
    max-width: 50%;
  }
}

.inner-wrapper.pink-theme h1 {
  color: #ff596f;
}

.inner-wrapper.pink-theme a {
  color: #ff596f;
}

.inner-wrapper.pink-theme a:visited {
  color: #ff596f;
}

.inner-wrapper.pink-theme a:hover {
  color: #ff596f;
}

.inner-wrapper.pink-theme a:active {
  color: #ff596f;
}

.inner-wrapper.pink-theme .btn-common,
.inner-wrapper.pink-theme button,
.inner-wrapper.pink-theme a.btn-common {
  background: #ff596f;
  color: #fff !important;
}

.inner-wrapper.pink-theme section label {
  color: #ff596f;
}

.inner-wrapper.pink-theme .box figure .link-btn {
  color: #ff596f;
}

.inner-wrapper.blue-theme h1 {
  color: #57D0C1;
}

.inner-wrapper.blue-theme h1 span {
  color: #717171;
}

.inner-wrapper.blue-theme a {
  color: #ff596f;
}

.inner-wrapper.blue-theme a:visited {
  color: #ff596f;
}

.inner-wrapper.blue-theme a:hover {
  color: #ff596f;
}

.inner-wrapper.blue-theme a:active {
  color: #ff596f;
}

.inner-wrapper.blue-theme .btn-common,
.inner-wrapper.blue-theme button,
.inner-wrapper.blue-theme a.btn-common {
  background: #57D0C1;
  color: #fff !important;
}

.inner-wrapper.blue-theme section label {
  color: #57D0C1;
}

.inner-wrapper.blue-theme a {
  color: #57D0C1;
}

.inner-wrapper.blue-theme a:visited {
  color: #57D0C1;
}

.inner-wrapper.blue-theme a:hover {
  color: #57D0C1;
}

.inner-wrapper.blue-theme a:active {
  color: #57D0C1;
}

.inner-wrapper.grey-theme h1 {
  color: #001920;
}

.inner-wrapper.grey-theme a {
  color: #001920;
}

.inner-wrapper.grey-theme a:visited {
  color: #001920;
}

.inner-wrapper.grey-theme a:hover {
  color: #001920;
}

.inner-wrapper.grey-theme a:active {
  color: #001920;
}

.inner-wrapper.grey-theme .btn-common,
.inner-wrapper.grey-theme button,
.inner-wrapper.grey-theme a.btn-common {
  background: #999;
  color: #fff !important;
}

.inner-wrapper.grey-theme section label {
  color: #001920;
}

.inner-wrapper.grey-theme .box figure .link-btn {
  color: #ff596f;
}

@media screen and (max-width: 767px) {
  .inner-wrapper {
    padding-bottom: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */