//color
$text_color: #001920;
$link_color: #001eff;
$footer-link-color: #4783a9;
$btn-pink-text: #ffffff;
$btn-pink-bg: #ff596d;

$link-green: #4fc3b6;
$link-green-hover: #57d0c1;
$link-geen-hover-text: #299e8e;
$link-pink-hover: #ffb0bb;
$link-pink-hover-text: #ff5c72;

$color-white: #fff;
$color-pink: #ff596f;
$color-blue: #57D0C1;
$blue-home-link: #50C3B2;

$color-grey: #717171;


//media breakpoints
$break-small: 320px;
$break-large: 992px;
$break-small: 768px;
$break-small-max: 767px;
$break-ipad-max: 1024px;

//font
$text-size: 15px;
$footer-text-size: 13px;



